.toggle, [id^=drop] {
 display: none;
}
.bbt-menu{background:#00ACED;width:100%;}
.bbt-menu:after {
    content: '';
    display: table;
    clear: both;
}
nav {
    width:200%;
    padding:0;
}
nav:after {
    content: '';
    display: table;
}
nav ul {
    float:left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background: #00ACED; /*** This horizontal menu  background color***/
}
nav ul li ul li{
    background: #333; /*** This drop down menu  background color***/
}
nav a, nav a:hover, nav a:visited {
    display: block;
    padding: 0 20px;
    color: #FFF;
    font-size: 18px;
    line-height: 100px;
    text-decoration: none;
}
nav ul li ul li:hover {
    background: #333;
}
nav a:hover {
    background-color: #333;
}
nav ul li ul li a:hover {
    background-color: #111;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 60px; /*** Posisi Down Menu Di Ukur Dari Atas ***/
}
nav ul li:hover > ul {
    display: inherit;
}
nav ul ul li {
    width: 190px; /*** Lebar Down Menu ***/
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}
nav label span{
    float:right;
}
.toggle, [id^=drop] {
    display: none;
}
nav input[type=checkbox]{
    display: none;
}
.nav-menu{width:auto;display:block}
.f-search{float:right;width:215.7px;display:block}

.box-search {
background:#EEEEEE;
border: 0;
margin:0;
padding:1.64em 0.5em;
float:left;
}
.btn-search {
background:#333;
border: 0;
color: #FFFFFF;
margin:0;
padding:1.56em 0.5em;
float:left;
cursor:pointer;
}
.btn-search:hover {
background:#000;
}
/* Media Queries
--------------------------------------------- */
@media all and (max-width : 768px) {
.f-search{margin:0 auto;float:none;display:block}
    nav {
        margin: 0;
    }
    .toggle + a,
    .menu {
        display: none;
    }
    .toggle {
        display: block;
        background-color:#333;
        padding: 0 20px;
        color: #FFF;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background-color: #000000;
    }
    [id^=drop]:checked + ul {
        display: block;width: 100%;
    }
    nav ul li {
        display: block;
        width: 100%;
    }nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }
    nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul ul li {
        position: static;
    }
}